<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.js"></script>
</head>

<body>
<div id="header">
    <div class="header-box">
        <input type="text" class="form-control" id="searchInput" placeholder="请输入查询内容">
        <button type="button" class="btn btn-primary" id="accurateSearch-button">精准搜索</button>
        <button type="button" class="btn btn-primary" id="fuzzySearch-button">模糊搜索</button>
        <div class="searchInfo hide">
            <label>共<span></span>条搜索结果</label>
        </div>
    </div>

</div>
<div id="content">

</div>
<script src="js/index.js"></script>
</body>

</html>